@inherits LayoutComponentBase

<PageTitle>TechnologyOne Test</PageTitle>

<div class="page">
    <div class="sidebar" style="width: 265px;">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            Cameron Forward's Solution
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
